#intro {
	display: flex;
	flex-direction: column;
	background-image: url(../assets/img/Background_Intro.png);
	background-size: cover;
	height: 787px;
	align-items: center;
}

#info {
	padding: 120px 183px 94px;
}

#header-intro {
	max-width: 680px;
	margin: 0 auto 80px;
	display: flex;
	flex-direction: column;
	align-items: center;


	img {
		margin-bottom: 56px;
	}

	div {
		text-align: center;
	}

	h2 {
		margin-bottom: 16px;
		color: var(--base-color-gray-500);

		span {
			color: var(--main-color-red);
		}
	}

	h1 {
		margin-bottom: 24px;
		color: var(--base-color-gray-600);
	}

	p {
		font: var(--font-size-text-sm);
		color: var(--base-color-gray-400);
	}

}

#dev-tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.dev-tools-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--base-color-gray-300);
	border-radius: 100px;
	height: 40px;
	gap: 8px;
	padding: 8px 16px;

	img {
		width: 24px;
		height: 24px;
	}

	span {
		font: var(--font-size-text-md);
		color: var(--base-color-gray-500);
	}
}

#logo-intro {
	width: 32px;
	height: 32px;
}
